body {
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

section {
  max-width: 1200px;
  margin:0 auto;
  padding:100px 0;
}

/* Hero */
.container {
  max-width: 1400px;
  margin: 0 auto;
}


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}

header h1 {
  font-size: 86px;
  line-height: 1;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
}

header a {
  font-size: 14px;
  line-height: 1.5;
  color: black;
  margin-top: 32px;
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

/* Main Section Why Indonesia */

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
}

main{
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}



/* Card section */

.card {
  background:   #f8f8f8;
  margin: 30px 0;
  padding:15px;
}


.btn{
  display: block;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding:16px;
  text-decoration: none;
  background-color:#462cb3 ;
  text-align: center;
}

.card-footer{
  padding:0 30px 30px;
}

/* Video */

.embed {
  padding:50px;
}

/* Footer */


.grid-3-columns {
  grid-template-columns: 2fr 2fr 2fr;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding:100px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/monas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px 20px;
}

section .grid-3-columns {
  padding:0;
}

footer p {
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer a {
  color: white;
  opacity: 0.7;
  cursor: pointer;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}


main h2 {
  text-align: center;
}

main h3{
  text-align: center;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

 .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

}
